@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 共通 */
a{
  text-decoration: none;
  font-weight: bold;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
p{
  line-height: 23px;
  font-weight: normal;
}
body{
  height: 100%;
}
/* header */
.header{
  height: 60px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
}
.header-title{
  font-size: 24px;
  padding-left: 20px;
}
.header-nav-list{
  display: flex;
  padding-right: 20px;
}
.header-nav-item{
  padding-left: 30px;
  list-style: none;
}
.header-nav-list a{
  font-size: 17px;
  color: #000;
}
.header-nav-list a:hover{
  color: rgba(97, 96, 96, 0.925);
}
#hamburger{
  display: none;
}
/* home */
.home{
  z-index: 1;
  height: 85vh;
  width: 100%;
  background-image: url(../img/mv.png);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  align-items: center;
  margin-top: 60px;
  color: white;
}
.home h1{
  font-size: 45px;
  padding: 35vh 0 20px;
}
.home p{
  font-size: 20px;
  font-weight: bold;
}
.home2{
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 0 10% 80px;
}
.home2 h2{
  font-size: 30px;
  padding: 80px 0 30px;
}
/* サービス */
.service{
  background-color: rgb(231, 229, 229);
  text-align: center;
  padding: 50px 10%;
}
.service h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.service-list{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto auto; 
  gap: 30px 30px; 
  text-align: start; 
   margin-bottom: 50px;
}
.service-card{
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}
.service h2{
  font-size: 15px;
  padding: 10px 0;
}
.service a{
  background-color: rgb(197, 2, 2);
  color: white;
  width: 150px;
  height: 20px;
  padding: 10px 50px;
}
.service a:hover{
  background-color: rgba(167, 95, 95, 0.979);
}
/* news */
.news{
  background-color: black;
  padding: 50px 15%;
}
.news-title{
  display: flex;
  justify-content: space-between;
}
.news-title h2{
  font-size: 30px;
  color: white;
}
.news-title a{
  background-color: rgb(197, 2, 2);
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.news-title a:hover{
  background-color: rgba(167, 95, 95, 0.979);
}
.news-list{
  width: 100%;
  background-color: white;
  margin: 10px 0;
}
.news-list a{
  color:black;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 15px 20px;
}
.news-list p,
.news-list h2{
  padding: 0 10px;
}
.news-list a:hover{
  background-color: rgb(190, 189, 189);
}
/* blog */
.blog{
  background-color: #f5f4f4;
  text-align: center;
  padding: 100px 15% 100px;
}
.blog h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.blog-list{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto; 
  gap: 20px 20px; 
  text-align: start;
  margin-bottom: 20px;
}
.blog-card p{
  margin: 5px 0;
}
.blog-card a{
  font-size: 16px;
  color: #000;
}
.button{
  background-color: rgb(197, 2, 2);
  color: white;
  padding: 15px 70px;
}
.blog a:hover{
  color: rgb(184, 181, 181);
}
.button:hover{
  background-color: rgb(248, 147, 147);
}
.blog-card img:hover{
  opacity: 0.5;
}
/* about */
.about{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15vh;
}
.about1{
  display: block;
  width: 50%;
  height: 13vh;
  font-size: 25px;
  color: white;
  background-color: red;
  padding-top: 12vh;
}
.about2{
  display: block;
  width: 50%;
  height: 13vh;
  color: white;
  background-color:rgb(31, 30, 30);
  font-size: 25px;
  padding-top: 12vh;
}
.about1:hover{
  background-color: rgb(245, 127, 127);
}
.about2:hover{
  background-color: rgb(156, 148, 148);
}
/* お問い合わせ */
.Ques{
  text-align: center;
  background-color: rgb(243, 243, 243);
  padding: 80px 5%;
}
.Ques h2{
  font-size: 35px;
  margin-bottom: 20px;
}
.Ques p{
  margin: 30px 0;
}
/* footer */
.footer{
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  color: white;
  padding: 20px 100px;
}
.footer-title{
  font-weight: normal;
  font-size: 12px;
}
.footer-nav-list{
  display: flex;
  padding-right: 0;
}
.footer-item{
  padding: 0 15px;
  border-right: white 2px solid;
}
.footer-item-last{
  margin-left:15px ;
}
.footer-nav-list a{
  font-size: 12px;
  font-weight: normal;
  color:white;
}
.footer-nav-list a:hover{
  color: rgba(97, 96, 96, 0.925);
}
@media screen and (max-width : 768px){
.header-nav-list{
  display: none;
}
#hamburger{
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
}
#hamburger span{
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  left: 2px;
  transition: 0.4s;
  z-index: 101;
}
#hamburger span:nth-of-type(1){
  top: 10px;
}
#hamburger span:nth-of-type(2){
  top: 20px;
}
#hamburger span:nth-of-type(3){
  top: 30px;
}
#menu-bth-check:checked ~.menu-bth span:nth-of-type(1){
  transform: rotate(45deg);
  top: 20px;
}
#menu-bth-check:checked ~.menu-bth span:nth-of-type(2){
  background-color: rgba(0, 0, 0, 0);
}
#menu-bth-check:checked ~.menu-bth span:nth-of-type(3){
  transform: rotate(-45deg);
  top: 20px;
}
#menu-bth-check{
  display: none;
}
#drawer-nav{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: white;
  text-align: center;
  padding: 20vh 0;
  transition: 0.8s;
}
.drawer-nav-list a{
  color: rgb(43, 90, 243);
}
.drawer-nav-item{
  padding: 20px;
}
#menu-bth-check:checked ~ #drawer-nav{
  left: 0;
}
.service-list{
  grid-template-columns: 100%;
  margin-bottom: 70px;
}
.news-title h2{
  font-size: 25px;
}
.news-title a{
  font-size: 13px;
  padding: 10px;
}
.news-list a{
  font-size: 11px;
  padding: 10px 0;
}
.blog-list{
  grid-template-columns: 100%;
  margin-bottom: 40px;
}
.button{
  padding: 15px 40px;
}
.footer{
  display: block;
  text-align: center;
}
.footer-nav-list{
  display: block;
}
.footer-item,
.footer-item-last{
  margin: 15px 0 15px;
  border: none;
  padding: 0;
}
}